
@{
    ViewBag.Title = "Trang chủ";

}
<div>
    <div class="homeindex">
        <div class="display">
            <div class="text">
                <p class="sale" >Mã giảm giá 50%</p>
                <h2>Siêu Thị Tạp Hóa Tươi Sống</h2>
                <p>Mô hình tạp hóa tươi sống và hệ thống giao hàng tiên lợi</p>
                <a href="">Mua ngay</a>
            </div>
            <div class="image">
                <img src="~/image/imagedisplay.jpg">              
                <img class="orange" src="~/image/orange.png">
            </div>
        </div>
        <div>
            <h2>Danh mục sản phẩm</h2>
            <div>
                <div>
                    <img src="link-to-image-1.jpg" alt="Sản phẩm 1" width="150">
                    <h3>Sản phẩm 1</h3>
                    <p>100,000 VND</p>
                </div>
                <br>

            </div>
        </div>
    </div>
</div>
<link href="~/Content/index.min.css" rel="stylesheet" />