@charset "UTF-8";
.product-details {
  margin: 40px; }
  .product-details .box {
    display: flex;
    justify-content: flex-start; }
    .product-details .box .product-img img {
      width: 300px; }
    .product-details .box .nav-product {
      margin-left: 30px; }
      .product-details .box .nav-product p {
        margin-bottom: 30px; }
      .product-details .box .nav-product form button {
        height: 30px;
        background-color: #9bec62;
        border: 1px solid black;
        border-radius: 5px;
        margin: 5px; }
        .product-details .box .nav-product form button:hover {
          background-color: #4cff00; }
  .product-details .feedback form {
    display: flex;
    align-items: flex-start; }
    .product-details .feedback form select {
      width: 25px;
      padding: 10px; }
    .product-details .feedback form input {
      margin: 15px;
      height: 30px;
      width: 50%;
      border-radius: 5px;
      border: 1px solid black; }
    .product-details .feedback form a img {
      width: 30px;
      margin: 18px auto; }
      .product-details .feedback form a img:hover {
        transform: scale(1.05);
        /* Phóng to ảnh lên một chút */
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
        /* Tăng độ mạnh của bóng đổ */ }
