.container .row {
  display: flex;
  margin-left: 50px; }
  .container .row .menu .nav {
    display: flex;
    flex-direction: column; }
    .container .row .menu .nav a {
      text-decoration: none;
      color: #3659cc;
      margin: 10px; }
  .container .row .infor {
    margin-left: 50px; }
    .container .row .infor form {
      margin-top: 50px; }
      .container .row .infor form .form-group {
        margin: 30px auto;
        max-width: 500px; }
        .container .row .infor form .form-group label {
          display: block;
          margin-bottom: 5px;
          font-weight: bold; }
        .container .row .infor form .form-group input {
          width: 100%;
          height: 30px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid black;
          margin-bottom: 15px;
          font-size: 14px;
          box-sizing: border-box; }
        .container .row .infor form .form-group button {
          padding: 10px 15px;
          border-radius: 5px;
          border: 1px solid black;
          background-color: #94e773;
          color: black;
          font-size: 16px;
          cursor: pointer;
          transition: background-color 0.3s; }
          .container .row .infor form .form-group button:hover {
            background-color: #45a049; }
