form {
  margin-left: 20px; }
  form .box {
    display: flex; }
    form .box .labelbox {
      display: flex;
      flex-direction: column; }
      form .box .labelbox label {
        margin: 23px; }
    form .box .inputbox {
      display: flex;
      flex-direction: column; }
      form .box .inputbox input {
        margin: 15px;
        height: 30px;
        border-radius: 5px;
        border: 1px solid black; }
  form button {
    height: 30px;
    background-color: #9bec62;
    border: 1px solid black;
    border-radius: 5px;
    margin: 5px; }
    form button:hover {
      background-color: #4cff00; }
