form {
    margin-left: 20px;

    .box {
        display: flex;

        .labelbox {
            display: flex;
            flex-direction: column;

            label {
                margin: 23px;
            }
        }

        .inputbox {
            display: flex;
            flex-direction: column;

            input {
                margin: 15px;
                height: 30px;
                border-radius: 5px;
                border: 1px solid black;
            }
        }
    }



    button {
        height: 30px;
        background-color: #9bec62;
        border: 1px solid black;
        border-radius: 5px;
        margin: 5px;

        &:hover {
            background-color: #4cff00;
        }
    }
}
