
@{
    Layout = null;
}

<form method="post">
    <label>Nhập mật khẩu mới</label>
    <input type="text" name="newPassword" placeholder="Nhập mật khẩu mới" />
    <label>Xác nhận mật khẩu</label>
    <input type="text" name="ComfirmPassword" placeholder="Xác nhận mật khẩu" />
    <button>Xác nhận</button>
</form>
<link href="~/Content/ComfirmPassword.min.css" rel="stylesheet" />