
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}
<form method="post" action="/Account/ForgotPassword">
    <h2>Nhập email của bạn</h2>
    <input type="email" name="email" placeholder="Nhập email của bạn" />
    <button>Xác nhập</button>
</form>

<link href="~/Content/ForgotPassword.min.css" rel="stylesheet" />