@model webbannongsan.Models.Account
@{
    ViewBag.Title = "UpdatePassword";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}

<h2>Đổi mật khẩu</h2>
<form method="post" action="/Account/UpdatePassword">
    <p>@Model.Email</p>
    <div class="box">
        <div class="labelbox">
            <label>Mật khẩu hiện tại</label>
            <label>Nhập mật khẩu mới</label>
            <label>Xác nhận mật khẩu</label>
        </div>
        <div class="inputbox">
            <input type="password" name="currentPassword" placeholder="Mật khẩu hiện tại" />
            <input type="password" name="newPassword" placeholder="Nhập mật khẩu mới" />
            <input type="password" name="confirmPassword" placeholder="Xác nhận mật khẩu" />
        </div>
    </div>
    <p>@ViewBag.erorr</p>
    <button type="submit">Đổi mật khẩu</button>

</form>
@section Scripts {
    @if (TempData["SuccessMessage"] != null)
    {
        <script type="text/javascript">
            alert('@Html.Raw(TempData["SuccessMessage"])');
        </script>
    }
}
<link href="~/Content/UpdatePassword.min.css" rel="stylesheet" />