header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;

    .logo {

        display: flex;
        align-items: center;

        img {
            width: 80px;
        }

        h2 {
            font-size: 20px;
            color: green
        }
    }

    .menu {
        display: flex;
        justify-content: space-between;

        a {
            font-size: 20px;
            color: black;
            text-decoration: none;
            padding: 20px;
            margin-left:30px;
        }
    }

    .user_item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .search {
            padding: 10px;
            margin: 10px;
            border-radius: 10px;
        }


        a {
            padding: 10px;

            img {
                width: 30px;
            }
        }
    }
}
