<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebNongSan</title>
    <link href="~/Content/stylelayout.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>

</head>
<body>
    <header>
        <div class="logo">
            <img src="~/image/logo.png">
            <h2>WebNongSan</h2>
        </div>
        <div class="menu">
            <a class="home" href="~/Home/Index">Trang chủ</a>
            <a class="product" href="~/Product/Product">Sản phẩm</a>
            <a class="introduce" href="#">Giới thiệu</a>
        </div>
        <div class="user_item">
            <form action="/Home/Search" method="get" id="searchForm">
                <input class="search" type="search" id="search" name="query" placeholder="Search..."  />
            </form>
            <a href="#"><img src="~/image/heart.png"></a>
            <a href=@(Session["Account"]==null?"/Account/Login":"/Account/Profile")><img src="~/image/user.png"></a>
            <a href="/Cart/CartIndex"><img src="~/image/cart.png"></a>
        </div>
    </header>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="background-color: #6ef384; color: black; padding: 20px; text-align: center;">
            <div>
                <h3>Công Ty TNHH Nông Sản Xanh</h3>
                <p>Địa chỉ: 123 Đường Lúa Vàng, Phường Cây Trồng, Quận Nông Sản, TP. HCM</p>
                <p>Email: cskh@nongsanxanh.com | Hotline: 1800-1234</p>
                <p>Thời gian hoạt động: Thứ 2 - Thứ 7, 8:00 - 18:00</p>
            </div>

            <div style="margin-top: 20px;">
                <a href="/chinh-sach-bao-mat" style="color: black; margin-right: 15px;">Chính Sách Bảo Mật</a>
                <a href="/dieu-khoan-su-dung" style="color: black; margin-right: 15px;">Điều Khoản Sử Dụng</a>
                <a href="/lien-he" style="color: black;">Liên Hệ</a>
            </div>

            <div style="margin-top: 20px;">
                <p>2024 Công Ty TNHH Nông Sản Xanh.</p>
            </div>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>